.promo-section {
  margin: 2rem 0;
  overflow: hidden;

  .promo-section-desc {
    text-align: center;
    padding: 0 2rem;
  }

  .promo-section-img {
    padding: 0 2rem;

    img {
      max-width: 100%;
    }
  }
}
