<ng-container *ngIf="content">
  <section [fxLayout.gt-sm]="content?.desktopLayout" fxLayoutAlign="center center" fxLayout.lt-md="column wrap"
    fxLayoutGap="20px" class="promo-section color-white">
    <div fxFlex.gt-sm="50%" class="promo-section-desc">
      <h2 class="mat-h1">{{content?.text?.title}}</h2>
      <p class="mat-body-1">{{content?.text?.desc}}</p>
    </div>
    <div class="promo-section-img">
      <img [alt]="content?.img?.alt" [srcset]="content?.img?.srcset" [src]="content?.img?.src">
    </div>
  </section>
</ng-container>
