.header-section {
  padding-top: 6rem;

  .header-headline {
    text-align: center;

    h1 {
      font-weight: 300;
      margin: 0 0 3rem;
    }

    h2 {
      font-weight: 300;
    }
  }

  .header-contact {
    margin: 3rem 0;
  }

}

.space {
  padding: 1rem 0;
}

.saving-section {
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(/assets/images/home/gardener.png);
  background-position: top;
  background-size: cover;
  height: 330px;

  @media only screen and (min-width: 959px) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(/assets/images/home/gardener@2x.png);
    height: 517px;
  }

  .saving-section-inner {
    width: 100%;
    height: 100%;
  }

  .saving-section-content {
    text-align: center;
  }
}
