<nav fxLayout="row wrap" fxLayoutAlign="start end" class="menu">
  <div fxFlex>
    <a mat-button routerLinkActive="router-link-active" routerLink="/home">InstaPocketPro</a>
    <a mat-button routerLinkActive="router-link-active" routerLink="/showcase">ShowCase</a>
  </div>
  <div>
    <a mat-button rel="noopener" target="_blank" href="https://github.com/4garfield/InstaPocketPro">
      <img src="assets/images/github-circle-white-transparent.svg">
      Github
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
