<nav fxLayout="row wrap" fxLayoutAlign="start end" class="menu">
  <div fxFlex>
    <a mat-button routerLinkActive="router-link-active" routerLink="/home">
      <img class="header-logo" alt="angular" src="assets/images/header/angular-white-transparent.svg">
      InstaPocketPro
    </a>
    <a mat-button routerLinkActive="router-link-active" routerLink="/showcase">ShowCase</a>
  </div>
  <div>
    <a mat-button rel="noopener" target="_blank" href="https://github.com/4garfield/InstaPocketPro">
      <img class="header-logo" alt="github" src="assets/images/header/github-circle-white-transparent.svg">
      Github
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<button mat-button *ngIf="showInstallButton && shouldInstall" (click)="installApp()">
  Install
</button>
