@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'Roboto, monospace');

body {
  font-family: 'Roboto, monospace, sans-serif';
  margin: 0;
  background: #303030;
}

.bg-theme {
  background: #9c27b0;
}

.color-white {
  color: #fff;
}
