@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #303030;
}

.spinner-container {
  position: absolute;

  @media screen and (max-width: 767px) {
    top: 25%;
    left: 40%;
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 45%;
  }

  .la-ball-scale-pulse,
  .la-ball-scale-pulse>div {
    position: relative;
    box-sizing: border-box;
  }

  .la-ball-scale-pulse {
    display: block;
    font-size: 0;
    color: #fff;
  }

  .la-ball-scale-pulse>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
  }

  .la-ball-scale-pulse {
    width: 32px;
    height: 32px;
  }

  .la-ball-scale-pulse>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    opacity: .5;
    animation: ball-scale-pulse 2s infinite ease-in-out;
  }

  .la-ball-scale-pulse>div:last-child {
    animation-delay: -1.0s;
  }

  .la-ball-scale-pulse.la-sm {
    width: 16px;
    height: 16px;
  }

  .la-ball-scale-pulse.la-sm>div {
    width: 16px;
    height: 16px;
  }

  .la-ball-scale-pulse.la-3x {
    width: 96px;
    height: 96px;
  }

  .la-ball-scale-pulse.la-3x>div {
    width: 96px;
    height: 96px;
  }

  @keyframes ball-scale-pulse {

    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }
}
