.menu {
  @media only screen and (max-width: 959px) {
    padding: 0.3rem 0rem;
  }

  @media only screen and (min-width: 959px) {
    padding: 0.6rem;
  }
}

.menu-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.desktop-display {
  @media only screen and (max-width: 959px) {
    display: none;
  }
}
