<nav fxLayout="row wrap" fxLayoutAlign="start end" class="bg-theme color-white menu">
  <div fxFlex>
    <a mat-button routerLinkActive="router-link-active" routerLink="/">
      <img class="menu-logo" alt="angular" src="assets/images/menu/angular-white-transparent.svg">
      <span class="desktop-display">InstaPocketPro</span>
    </a>
    <a mat-button routerLinkActive="router-link-active" routerLink="/todo">Todo</a>
    <a mat-button routerLinkActive="router-link-active" routerLink="/cat">Cat</a>
  </div>
  <div>
    <a mat-button rel="noopener" target="_blank" href="https://github.com/4garfield/instapocketpro">
      <img class="header-logo" alt="github" src="assets/images/menu/github-circle-white-transparent.svg">
      <span class="desktop-display">Github</span>
    </a>
  </div>
</nav>
